snippet test "PHP UnitTest Snippet"
namespace $1;

class $2Test extends \PHPUnit_Framework_TestCase
{
	private $object;

	public function setUp()
	{
		$this->object = new $2();
	}

	public function test$3()
	{
		$4
	}
}
endsnippet
