snippet html5 "HTML5 Template"
<!DOCTYPE html>
<html>
	<head>
		<title>${1}</title>
	</head>
	<body>
			${2}
	</body>
</html>
endsnippet

snippet doctype "HTML - 5.0 (doctype)" b
<!DOCTYPE html>

endsnippet

snippet script "XHTML <script src...>" w
<script src="$1" type="text/javascript"></script>
endsnippet

snippet style "XHTML <style>" w
<style type="text/css" media="screen">
	$0
</style>
endsnippet

snippet div "Div element" w
<div>
	$0
</div>
endsnippet
