snippet func
function $1($2) {
  $3
}
endsnippet

snippet strict
/* jshint node: true */
'use strict';

$1
endsnippet

snippet describe
describe("$1", () => {
  $2
})
endsnippet

snippet it
it("$1", ($2) => {
  $3
});
endsnippet

snippet data
[
  {input: $1, output: $2},
].map(({input, output} => {
  $3
})
endsnippet

snippet equal
expect($1).toEqual($2)
endsnippet

