snippet composer "Composer JSON file" 
{
    "require": {
        $1
    },
    "require-dev": {
        "phpunit/phpunit": "~4",
        "phpspec/phpspec": "~2"
    },
    "autoload": {
        "psr-0": {
            "": "src"
        }
    }
}
endsnippet
