snippet composer "Composer JSON file"
{
  "require": {
    $1
  },
  "require-dev": {
    "phpunit/phpunit": "~4"
  },
  "autoload": {
    "psr-4": {
      "": "src/"
    }
  },
  "autoload-dev": {
    "psr-4": {
      "": "tests/"
    }
  }
}
endsnippet
